<main class="p-5 bg-black text-white h-screen flex flex-col items-center justify-center">
    <div class="max-w-2xl w-full">
        <h2 class="text-3xl font-bold mb-4">Novo Log</h2>
        <hr class="border-gray-600 mb-6">

        <div class="border border-gray-700 rounded-lg p-6 bg-gray-900">
            <form action="/rota_logs/logs/novo" method="POST" class="space-y-4">
                <input type="text" id="titulo" name="titulo" placeholder="Título do log"
                    class="w-full p-3 bg-gray-800 text-white rounded-lg placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-500">

                <textarea id="conteudo" name="conteudo" placeholder="Conteúdo do log"
                    class="w-full p-3 bg-gray-800 text-white rounded-lg placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-500"></textarea>

                <button type="submit" class="w-full px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-500">
                    <i class="fas fa-plus"></i> <!-- Ícone de adicionar -->
                </button>
            </form>
        </div>
    </div>
</main>